---
import { Link } from "@/components/ui/link";
import {
  getLangFromUrl,
  projectUi,
  useTranslatedPath,
  useTranslations,
} from "@/i18n/project-ui";

interface Props {
  projectId: keyof (typeof projectUi)[typeof lang];
}
const { projectId }: Props = Astro.props;

const lang = getLangFromUrl(Astro.url);
const translatedPath = useTranslatedPath(lang);
const t = useTranslations(lang);

const cta = t(projectId).cta;
---

<section id="next-project-cta" class="bg-primary py-20 text-white">
  <div class="container mx-auto px-6 text-center">
    <h2 class="text-primary-foreground">{cta.title}</h2>
    <p class="text-muted mx-auto mb-10 max-w-2xl text-xl">
      {cta.subtitle}
    </p>
    <Link
      href={translatedPath("/#contact")}
      className="cursor-pointer"
      variant="secondary"
      size="lg"
    >
      {cta.btn.text}
    </Link>
  </div>
</section>
