---
import { Code, Pencil, Search } from "lucide-react";
import {
  useTranslations,
  getLangFromUrl,
  type projectUi,
} from "@/i18n/project-ui";
import DesignProcessCard from "./DesignProcessCard.astro";

interface Props {
  projectId: keyof (typeof projectUi)[typeof lang];
}
const { projectId }: Props = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const ICONS = [Search, Pencil, Code];

const process = t(projectId).process;
---

<section id="design-process" class="bg-background py-16">
  <div class="container mx-auto px-6">
    <div class="mx-auto max-w-4xl">
      <h2 class="mb-12 text-center">Design Process</h2>
      <div class="grid grid-cols-1 gap-8 md:grid-cols-3">
        {
          process.items.map((item, index) => (
            <DesignProcessCard
              title={item.title}
              description={item.description}
              icon={ICONS[index]}
            />
          ))
        }
      </div>
    </div>
  </div>
</section>
