---
import { Image } from "astro:assets";
import WorkExampleImage from "@/assets/images/work-example.webp";

interface Props {
  url: string;
}
const { url }: Props = Astro.props;
---

<section id="project-header" class="bg-background py-16">
  <div class="container mx-auto grid max-w-4xl gap-8 px-6 text-center">
    <h1>Bistro Gamla Stan - Website Redesign</h1>
    <p class="subtitle">
      A complete redesign focused on mobile-first reservations, resulting in a
      40% increase in online bookings.
    </p>
    <Image
      transition:name={`image/porject${url}`}
      class="h-96 rounded-lg object-cover object-top"
      src={WorkExampleImage}
      alt={"Bistro Gamla Stan Website Redesign"}
      loading="eager"
    />
  </div>
</section>
