---
import { Image } from "astro:assets";
import EricReyesImg from "@/assets/images/ericReyes.webp";

interface Props {
  url: string;
}
const { url }: Props = Astro.props;
---

<section id="project-header" class="bg-background py-16">
  <div class="container mx-auto grid max-w-4xl gap-8 px-6 text-center">
    <h1>EricReyes Barbershop <br /> New Website</h1>

    <Image
      transition:name={`image/project${url}`}
      class="bg-input h-96 rounded-lg object-cover object-top"
      src={EricReyesImg}
      alt="Mockup of the professional barber Eric Reyes portfolio website"
      loading="eager"
    />
  </div>
</section>
