---
import {
  getLangFromUrl,
  useTranslations,
  type projectUi,
} from "@/i18n/project-ui";
import LessonsLearnedItem from "./LessonsLearnedItem.astro";

interface Props {
  projectId: keyof (typeof projectUi)[typeof lang];
}
const { projectId }: Props = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const learned = t(projectId).learned;
---

<section id="lessons-learned" class="bg-background py-16">
  <div class="container mx-auto px-6">
    <div class="mx-auto max-w-4xl">
      <h2 class="text-center">{learned.title}</h2>
      <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
        {
          learned.items.map((item) => (
            <LessonsLearnedItem
              title={item.title}
              description={item.description}
            />
          ))
        }
      </div>
    </div>
  </div>
</section>
