---
import Layout from "@/layouts/Layout.astro";
import { Link } from "@/components/ui/link";
import { ArrowLeft } from "lucide-react";
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@/i18n/policy-ui";
import {
  Changes,
  Children,
  Collect,
  Cookies,
  DataController,
  DataStorage,
  DataTransfer,
  Hero,
  Information,
  Introduction,
  Processing,
  Rights,
  ThirdParty,
  Contact,
} from "./sections";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const useTranslated = useTranslatedPath(lang);
---

<Layout title={t("meta").title} description={t("meta").description}>
  <section class="bg-background px-6 py-20 lg:px-12">
    <div class="mx-auto max-w-4xl">
      <Hero />

      <article class="space-y-8">
        <Introduction />
        <DataController />
        <Collect />
        <Information />
        <Processing />
        <DataStorage />
        <ThirdParty />
        <Cookies />
        <Rights />
        <DataTransfer />
        <Children />
        <Changes />
        <Contact />

        <div class="mt-12 flex justify-center">
          <Link href={useTranslated("")} size="lg">
            <ArrowLeft />
            {t("btn").text}
          </Link>
        </div>
      </article>
    </div>
  </section>
</Layout>
