---
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@/i18n/terms-ui";
import Layout from "@/layouts/Layout.astro";

import {
  Hero,
  Introduction,
  Services,
  Process,
  Payment,
  Refund,
  Intellectual,
  Responsibilities,
  Warranties,
  Confidentiality,
  ForceMajeure,
  Termination,
  Indemnification,
  Dispute,
  Miscellaneous,
  Contact,
} from "./sections";
import { Link } from "@/components/ui/link";
import { ArrowLeft } from "lucide-react";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const useTranslated = useTranslatedPath(lang);
---

<Layout title={t("meta").title} description={t("meta").description}>
  <section class="bg-background px-6 py-20 lg:px-12">
    <div class="mx-auto max-w-4xl">
      <Hero />
      <article class="max-w-none space-y-8">
        <Introduction />
        <Services />
        <Process />
        <Payment />
        <Refund />
        <Intellectual />
        <Responsibilities />
        <Warranties />
        <Confidentiality />
        <ForceMajeure />
        <Termination />
        <Indemnification />
        <Dispute />
        <Miscellaneous />
        <Contact />

        <div class="mt-12 flex justify-center">
          <Link href={useTranslated("")} size="lg">
            <ArrowLeft />
            {t("btn").text}
          </Link>
        </div>
      </article>
    </div>
  </section>
</Layout>
