---
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@/i18n/terms-ui";
import Layout from "@/layouts/Layout.astro";

import {
  Hero,
  Introduction,
  Services,
  Process,
  Payment,
  Refund,
  Intellectual,
  Responsibilities,
  Warranties,
  Confidentiality,
  ForceMajeure,
  Termination,
  Indemnification,
  Dispute,
  Miscellaneous,
  Contact,
} from "./sections";
import { Link } from "@/components/ui/link";
import { ArrowLeft } from "lucide-react";
import { CustomBreadcrumb } from "@/components/custom-breadcrumb";
import { ScrollReveal } from "@/components/ui/scroll-reveal";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const useTranslated = useTranslatedPath(lang);
---

<Layout title={t("meta").title} description={t("meta").description}>
  <section class="bg-background px-6 py-20 lg:px-12">
    <div class="mx-auto max-w-4xl">
      <Hero />
      <CustomBreadcrumb lang={lang} page={t("title")} />
      <article class="max-w-none space-y-8">
        <ScrollReveal client:visible>
          <Introduction />
        </ScrollReveal>
        <ScrollReveal client:visible>
          <Services />
        </ScrollReveal>
        <ScrollReveal client:visible>
          <Process />
        </ScrollReveal>
        <ScrollReveal client:visible>
          <Payment />
        </ScrollReveal>
        <ScrollReveal client:visible>
          <Refund />
        </ScrollReveal>
        <ScrollReveal client:visible>
          <Intellectual />
        </ScrollReveal>
        <ScrollReveal client:visible>
          <Responsibilities />
        </ScrollReveal>
        <ScrollReveal client:visible>
          <Warranties />
        </ScrollReveal>
        <ScrollReveal client:visible>
          <Confidentiality />
        </ScrollReveal>
        <ScrollReveal client:visible>
          <ForceMajeure />
        </ScrollReveal>
        <ScrollReveal client:visible>
          <Termination />
        </ScrollReveal>
        <ScrollReveal client:visible>
          <Indemnification />
        </ScrollReveal>
        <ScrollReveal client:visible>
          <Dispute />
        </ScrollReveal>
        <ScrollReveal client:visible>
          <Miscellaneous />
        </ScrollReveal>
        <ScrollReveal client:visible>
          <Contact />
        </ScrollReveal>

        <div class="mt-12 flex justify-center">
          <Link href={useTranslated("")} size="lg">
            <ArrowLeft />
            {t("btn").text}
          </Link>
        </div>
      </article>
    </div>
  </section>
</Layout>
