---
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";
import { Toaster } from "@/components/ui/sonner";

import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { CustomNavbar } from "@/components/customNavbar";

import "@/styles/global.css";
import Footer from "@/components/Footer.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const navItems = t("nav").links.slice() as {
  text: string;
  href: string;
}[];
---

<!doctype html>
<html lang={lang} class="motion-safe:scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={t("meta").description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <Font cssVariable="--font-inter" preload />
    <ClientRouter />
    <title>{t("meta").title}</title>
  </head>
  <body
    class="bg-background font-inter relative grid min-h-screen grid-rows-[auto_1fr_auto]"
  >
    <a
      href="#main-content"
      class="focus:bg-primary-foreground focus:text-primary sr-only -translate-x-1/2 focus:not-sr-only focus:absolute focus:top-20 focus:left-1/2 focus:p-2"
    >
      Skip to main content
    </a>
    <CustomNavbar
      transition:persist
      navItems={navItems}
      client:visible
      lang={lang}
    />
    <main id="main-content" class="mt-14"><slot /></main>
    <Toaster transition:persist position="top-center" client:idle />
    <Footer />
  </body>
</html>

<script is:inline>
  const theme = localStorage.theme;
  const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
  if (theme === "dark" || (!theme && prefersDark)) {
    document.documentElement.classList.add("dark");
  } else {
    document.documentElement.classList.remove("dark");
  }

  document.addEventListener("astro:before-swap", (event) => {
    const theme = localStorage.theme;
    const prefersDark = window.matchMedia(
      "(prefers-color-scheme: dark)",
    ).matches;
    if (theme === "dark" || (!theme && prefersDark)) {
      event.newDocument.documentElement.classList.add("dark");
    } else {
      event.newDocument.documentElement.classList.remove("dark");
    }
  });
</script>
