---
import Layout from "@/layouts/Layout.astro";

interface Props {
  projectId: string;
}
const { projectId } = Astro.props;
---

<Layout>
  <h1>Project Page</h1>
  <p>Project ID: {projectId}</p>
</Layout>
