---
import { LucideIcon } from "@/components/ui/lucide-icon";
import type { ContactDetailsItems } from "@/types/index.interface";

interface Props extends ContactDetailsItems {}

const { label, value, note, icon }: Props = Astro.props;
---

<div class="flex items-center">
  <div
    class="bg-secondary mr-4 flex h-16 w-16 flex-shrink-0 items-center justify-center rounded-lg"
  >
    <LucideIcon name={icon} aria-hidden="true" />
  </div>
  <div>
    <h4 class="text-primary text-lg">{label}</h4>
    <p class="text-muted-foreground leading-tight">{value}</p>
    <p class="text-ring/70 text-sm leading-tight">{note}</p>
  </div>
</div>
