---
import { Check } from "lucide-react";
import { LucideIcon, type LucideIconName } from "@/components/ui/lucide-icon";

interface Props {
  title: string;
  description: string;
  icon: LucideIconName;
  checks?: string[];
}

const { title, description, icon, checks }: Props = Astro.props;
---

<div class="border-secondary bg-secondary rounded-2xl border p-8">
  <div class="mb-4 flex items-center gap-4">
    <div
      class="bg-background flex h-12 w-12 items-center justify-center rounded-lg"
    >
      <LucideIcon name={icon} />
    </div>
    <h3 class="mb-0">{title}</h3>
  </div>

  <p class="text-muted-foreground mb-6 leading-relaxed">
    {description}
  </p>
  <ul class="space-y-3">
    {
      checks &&
        checks.map((check) => (
          <li class="text-muted-foreground flex items-center gap-2">
            <Check className="size-4" /> {check}
          </li>
        ))
    }
  </ul>
</div>
